
@{
    ViewBag.Title = "Teams";
}
<br />
<a class="btn btn-primary" href="/">Home</a>
<a class="btn btn-success" href="/company/projects">Projects</a>
<a class="btn btn-danger" href="/company/teams">Teams</a>
<h2>Teams</h2>

